
body {
    overflow-x: hidden;
    display: flex;
    display: -webkit-flex; /* Safari */;
    min-height: 100vh;
    flex-direction: column;
}

.side-menu-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 230px;
    min-height: 100%;
    background-color: #353535;
    padding-top: 50px;
    border: 0;
    border-radius: 0;
    overflow-x: hidden;
}

.side-menu-wrap .side-menu-header {
    margin: 10px 0;
    height: 50px;
}

.side-menu-wrap .side-menu-header a {
    color: #efefef;
}

.side-menu-wrap .side-menu-body {
    margin: 10px 0;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.side-menu-wrap .side-menu-body ul li {
    width: 230px;
    margin: 10px 0;
    padding: 10px 0 10px 10px;
}

.side-menu-wrap .side-menu-body ul li:hover {
    border-right: 4px solid coral;
    background-color: #535353;
}

.side-menu-wrap .side-menu-body ul li a {
    text-decoration: none;
    color: #efefef;
}

.side-menu-wrap .side-menu-body ul li a:hover {
    color: #afafaf;

}

.side-menu-wrap .side-menu-body ul li a span {
    margin-left: 35px;
}



.side-menu-content{
    margin-top: 50px;
    margin-left: 230px;
    -webkit-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

@media (max-width: 767px) {
    .side-menu-content {
        margin-left: 0;
    }

    .offcanvas-stop-scrolling .side-menu-content {
        -webkit-transform: translate(230px, 0);
        -moz-transform: translate(230px, 0);
        -ms-transform: translate(230px, 0);
        -o-transform: translate(230px, 0);
        transform: translate(230px, 0);
    }
}

.my-box {
    background-color: #ffffff;
    border-top: 3px solid coral;
    padding: 5px 20px;
    border-radius: 3px 3px 0px 0px;
    -webkit-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
}

.my-box .box-header {
    margin: 15px 10px;
    margin-top: 0;
    padding-top: 15px;
}

.my-box .box-header .box-header-title {

}

.my-box .box-header .box-corner {
    float: right;
}

.my-box .box-header .box-corner button {
    background-color: transparent;
}

.my-box .box-header .box-corner .collapsed i:before {
    content: "\e114";
}

.my-box .box-header .box-corner i:before {
    content: "\e113";
}

.my-box .box-body {
    border-top: 1px solid #efefef;
    padding: 15px 0;
}

.my-box .box-footer {
    border-top: 1px solid #efefef;
    padding: 15px 0;

}

.main-footer-side-menu {
    margin-top: 5px;
    margin-left: 230px;
    border-top: 2px solid coral;
    padding: 25px;
    -webkit-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    overflow: hidden;
}

@media (max-width: 767px) {
    .side-menu-wrap{
        position: fixed;
    }
    .navbar-topstyle{
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1030;
    }

    .main-footer-side-menu {
        margin-left: 0;
        padding: 10px;
    }

    .offcanvas-stop-scrolling .main-footer-side-menu {
        -webkit-transform: translate(230px, 0);
        -moz-transform: translate(230px, 0);
        -ms-transform: translate(230px, 0);
        -o-transform: translate(230px, 0);
        transform: translate(230px, 0);
    }
}


@media (min-width: 1240px) {
    .padding-box {
        height: 300px;
    }
    .main-footer-side-menu{


    }
}

@media (min-width: 1480px) {
    .padding-box {
        height: 120px;
    }

/*    .main-footer-side-menu {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }*/
}

.footer-style {
    background-color: #353535;
}

.main-footer-side-menu .row .weight h4 {
    color: #afafaf;
}

.main-footer-side-menu .row .weight .weight-list a {
    text-decoration: none;
    margin: 5px;
    color: #efefef;
    line-height: 1.8em;

}

.main-footer-side-menu .row .weight .weight-list a:hover {
    color: #afafaf;

}