.faq-style h4 {
  font-size: 20px;
  font-weight: bold;
  padding: 8px 0;
}
.faq-style .question a {
  text-decoration: none;
  color: #e81e06;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.8em;
}
.faq-style .question a:hover {
  color: #d80e06;
}
.faq-style .question a i:before {
  content: '\e113';
}
.faq-style .question a.collapsed i:before {
  content: '\e080';
}
.faq-style .answer {
  font-size: 16px;
  line-height: 1.8em;
  background-color: rgba(53, 197, 56, 0.1);
  padding-left: 20px;
}
.faq-style .answer ul > li {
  font-size: 15px;
  margin-left: 30px;
  list-style: disc;
}
