.login-bgi {
  background-image: url("../img/how_it_works_bg.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: goldenrod;
}
.login-form-content {
  border-top: 3px solid #e81e06;
  border-radius: 5px;
  min-height: 390px;
  margin: 100px 0px;
  padding: 20px 25px 25px 25px;
  background-color: rgba(255, 255, 255, 0.8);
}
.login-form-content .login-form-title {
  text-align: center;
  font-size: 2.4em;
}
.login-form-content div {
  margin-top: 10px;
}
.login-form-content div a {
  color: red;
  line-height: 2.2em;
  text-decoration: none;
}
.login-form-content div a:hover {
  color: darkred;
}
@media (max-width: 767px) {
  .login-form-content {
    margin-top: 25px;
  }
}
