.bg-info {
  background-color: #353535;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
#notification {
  background-color: #efefef;
  color: #232323;
  text-align: center;
}
.navbar-topstyle {
  border: none;
  background-color: #e81e06;
  text-align: center;
}
.navbar .navbar-toggle {
  background-color: #e81e06;
  border: 0;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:active,
.navbar .navbar-toggle:focus {
  background-color: #e81e06;
  border: 0;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-topstyle .container .collapse .nav li a {
  color: #efefef;
}
.navbar-topstyle .container .collapse .nav li a:hover {
  cursor: pointer;
  color: #ffffff;
}
.navbar-topstyle .container .collapse .nav .dropdown a {
  color: #efefef;
  font-weight: bold;
}
.navbar-topstyle .container .collapse .nav .dropdown a:hover {
  color: #ffffff;
}
.navbar-topstyle .container .collapse .nav li.dropdown .dropdown-menu li {
  text-align: center;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #e81e06;
}
.navbar-topstyle .container .collapse .nav li.dropdown .dropdown-menu li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar-topstyle .container .collapse .nav li.dropdown .dropdown-menu li:hover a {
  background-color: rgba(0, 0, 0, 0.1);
  color: #efefef;
}
.navbar-topstyle .container .collapse .nav li.dropdown .dropdown-menu li:hover a .span-left {
  display: block;
  border-color: rgba(0, 0, 0, 0.1);
  border-left-color: #efefef;
}
.navbar-topstyle .container .collapse .nav li.dropdown .dropdown-menu li:hover a .span-right {
  display: block;
  border-color: rgba(0, 0, 0, 0.1);
  border-right-color: #efefef;
}
.navbar-topstyle .container .collapse .nav li.dropdown .dropdown-menu li a {
  font-weight: 600;
}
.navbar-topstyle .container .collapse .nav li.dropdown .dropdown-menu li a .span-left {
  display: none;
  position: absolute;
  height: 0px;
  width: 0px;
  border: 7.5px solid #e81e06;
  top: 10px;
  left: 5px;
}
.navbar-topstyle .container .collapse .nav li.dropdown .dropdown-menu li a .span-right {
  display: none;
  position: absolute;
  height: 0px;
  width: 0px;
  border: 7.5px solid #e81e06;
  top: 10px;
  right: 5px;
}
.navbar-topstyle .container .collapse .nav .open a {
  background-color: #e81e06;
}
.navbar-topstyle .container .collapse .nav li a span {
  margin-left: 5px;
}
.navbar-topstyle .container .collapse .nav li a i img {
  width: 18px;
  height: 18px;
}
.navbar-topstyle .container .collapse .nav .dropdown a span.menu-right:before {
  content: '\e259';
}
.navbar-topstyle .container .collapse .nav .open a span.menu-right:before {
  content: '\e260';
}
.navbar-topstyle .container .collapse .nav .with-left-icon .user-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 0;
  position: relative;
}
.navbar-topstyle .container .collapse .nav .with-left-icon .user-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -14px;
  margin-top: -14px;
  width: 28px;
  height: 28px;
  padding: 0;
}
/*.navbar-topstyle .container .collapse .nav .with-left-icon a{*/
/*display: inline-block;*/
/*padding: 0;*/
/*position: relative;*/
/*top:-20px;*/
/*}*/
/*.navbar-topstyle .container .collapse .nav .with-left-icon{*/
/*height: 50px;*/
/*text-align: center;*/
/*padding: 0;*/
/*}*/
.navbar-topstyle .container .collapse .nav li ul {
  background-color: #353535;
  padding: 0;
}
.form-content-background {
  overflow-x: hidden;
  background-color: #5f5f5f;
  margin-top: -20px;
  padding-top: 20px;
}
.form-content-background {
  min-height: 455px;
  background-image: url("../img/homepage-banner.jpg");
  background-position: 50% 25%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -20px;
}
.form-content-background .homepage-banner .big-title,
.sub-title {
  text-align: center;
  color: #ffffff;
}
.main-content {
  overflow-x: hidden;
  background-color: #f2f2f2;
}
.main-footer {
  background-color: #353535;
  border-top: 2px solid coral;
  -webkit-box-shadow: 0 -4px 4px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 -4px 4px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0 -4px 4px 0px rgba(255, 255, 255, 0.5);
}
.main-footer .weight {
  margin-top: 45px;
}
.main-footer .weight h4 {
  color: #efefef;
}
.main-footer .weight .weight-list {
  margin: 15px 0;
}
.main-footer .weight .weight-list a {
  text-decoration: none;
  color: #cccccc;
  line-height: 2.4em;
}
.main-footer .weight .weight-list a:hover {
  color: #efefef;
}
.main-footer .copyright .content {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px;
  color: #cccccc;
}
.iframe-item-wrap {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 33%;
}
.iframe-item-wrap .ifram-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.all-waitting {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
}
.box-photo-border {
  box-shadow: 0px 0px 10px 3px rgba(255, 195, 0, 0.7) inset;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(255, 195, 0, 0.7) inset;
  -moz-box-shadow: 0px 0px 10px 3px rgba(255, 195, 0, 0.7) inset;
  -o-box-shadow: 0px 0px 10px 3px rgba(255, 195, 0, 0.7) inset;
  -webkit-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}
.box-photo-border:hover {
  border-radius: 0px 0px 10px 10px ;
  background-color: rgba(255, 195, 0, 0.2);
}
@media (max-width: 767px) {
  .box-photo-border {
    margin-left: -5px;
    margin-right: -5px;
  }
}
.warn-color {
  color: #e81e06;
  font-size: 14px;
}
.success-color {
  color: #5cb85c;
}
.carousel {
  overflow-y: hidden;
}
.carousel .carousel-inner .item img {
  margin-left: 15%;
  height: 150px;
  width: 150px;
}
.carousel .carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.0001) 100%);
}
.carousel .carousel-control.right {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.0001) 100%);
}
@media (max-width: 767px) {
  .carousel .carousel-inner .item > img {
    margin-left: 30px;
    height: 100px;
    width: 100px;
  }
}
.carousel-caption {
  bottom: 0px;
  left: 140px;
  right: 0;
  padding-bottom: 0px;
  padding-top: 0px;
  color: #000000;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
  text-align: left;
}
@media screen and (min-width: 768px) {
  .carousel-caption {
    left: 38%;
    right: 0;
    padding-bottom: 35px;
  }
}
.carousel-indicators {
  bottom: -15px;
}
.carousel-indicators li {
  border: 1px solid rgba(88, 88, 88, 0.9);
}
.carousel-indicators .active {
  background-color: rgba(88, 88, 88, 0.9);
}
.move-to-top {
  position: fixed;
  display: none;
  width: 60px;
  height: 60px;
  padding: 12px;
  right: 20px;
  bottom: 100px;
  background: #ffa000;
  border-radius: 30px;
  text-align: center;
  font-size: 35px;
  line-height: 35px;
  color: #fff;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.move-to-top a {
  color: #fff;
}
.move-to-top:hover {
  background: #e81e06;
}
@media (max-width: 767px) {
  .move-to-top {
    bottom: 60px;
  }
}
