.privacy-style p {
  font-size: 16px;
  line-height: 1.3em;
}
.privacy-style ol {
  padding-left: 0;
}
.privacy-style ol li {
  padding-left: 20px;
}
.privacy-style a {
  text-decoration: none;
  color: #e81e06;
  cursor: pointer;
  font-size: 16px;
  line-height: 2.2em;
}
.privacy-style a:hover {
  color: #d80e06;
}
