.sign-in {
  background-color: #efefef;
  background-image: url("../img/main_introduce_4.png");
  background-position: 30% 25%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}
#sign-in-background {
  background-color: rgba(230, 230, 230, 0.9);
  padding: 15px 10px;
  border-top: 3px solid #e81e06;
  border-radius: 5px;
  margin: 25px 0px;
}
.sign-in .sign-in-body .sign-in-content .sign-in-modal a {
  text-decoration: none;
  color: red;
  line-height: 1.8em;
}
.sign-in .sign-in-body .sign-in-content .sign-in-modal a:hover {
  cursor: pointer;
  color: darkred;
}
@media (max-width: 767px) {
  #sign-in-background {
    margin-top: 25px;
  }
}
