.terms-style p {
  font-size: 16px;
  line-height: 1.5em;
}
.terms-style ol {
  padding-left: 0;
}
.terms-style ol li {
  padding-left: 10px;
}
.terms-style a {
  text-decoration: none;
  color: #e81e06;
  cursor: pointer;
  font-size: 16px;
  line-height: 2.2em;
}
.terms-style a:hover {
  color: #d80e06;
}
