.timeTable {
  background-color: #fff;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
.timeTable a {
  color: #e81e06;
  text-decoration: none;
}
.timeTable a:hover {
  cursor: pointer;
  color: coral;
}
.timeTable table.table-time {
  margin: 0 auto;
  border: 2px solid #fff;
  border-collapse: collapse;
}
.timeTable table.table-time thead tr th {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  font-size: 14px;
}
.timeTable table.table-time tbody tr td {
  font-size: 14px;
  border: 5px solid #fff;
  padding: 0;
  width: 25px;
  height: 25px;
  margin: 0;
}
@media (max-width: 767px) {
  .timeTable {
    padding-left: 2px;
    padding-right: 2px;
  }
  .timeTable table.table-time thead tr th {
    font-size: 8px;
    width: 13px;
    height: 13px;
  }
  .timeTable table.table-time tbody tr td {
    font-size: 6px;
    border: 1px solid #fff;
    width: 13px;
    height: 13px;
  }
}
.can-booking-bgc {
  background-color: #5cb85c;
}
.not-booking-bgc {
  background-color: #ee2222;
}
.may-booking-bgc {
  background-color: #ee9011;
}
