<div class="col-md-12 good-margin-bottom-l" >

    <div ng-if="waitObj.isShowAll" class="container-fluid margin-top-25" style="margin-bottom: 250px">
        <div class="pic-center-wrap col-md-12 col-sm-12 col-xs-12">
            <h3 ng-bind="waitObj.title">Unlocking car, please wait</h3>
            <img src="img/waiting.gif" class="margin-top-20" ng-if="waitObj.isShowWaitImg">
            <div class="margin-top-20" ng-if="waitObj.isShowlockBtn">
                <i class="glyphicon glyphicon-alert" style="font-size: 64px;color: #e81e06"></i><br>
                <button class="btn btn-danger margin-top-20">Lock Again</button>
            </div>
            <h4 class="margin-top-20" ng-bind="waitObj.msg">Please wait while we ending your trip.
                Do not press the BACK button.</h4>
        </div>
    </div>

    <!--wallet-->
    <div ng-if="!waitObj.isShowAll" class="my-box my-box-top-border margin-top-20 ">
        <div class="box-header">
            <h4 class="box-header-title">Car unlocked, have you? </h4>
        </div>
        <div class="box-body my-box-boundary" id="isme2">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <form>
                        <div class="checkbox" style="font-size: 16px;line-height: 1.6em">
                            <label>
                                <input type="checkbox">
                                Taken pictures of the four sides of the car? (Safeguard your interest, keep the photos for
                                two weeks
                            </label>
                        </div>
                        <div class="checkbox" style="font-size: 16px;line-height: 1.6em">
                            <label>
                                <input type="checkbox" value="">
                                Retrieve car key from glove compartment
                            </label>
                        </div>
                        <div class="checkbox" style="font-size: 16px;line-height: 1.6em">
                            <label>
                                <input type="checkbox" value="">
                                Check against vehicle inspection list for any ADDITIONAL/NEW dents and scratches
                            </label>
                        </div>
                        <div class="checkbox" style="font-size: 16px;line-height: 1.6em">
                            <label>
                                <input type="checkbox" value="">
                                Report issue within 10 minutes if reserved fuel light turns on when you ignite the engine
                            </label>
                        </div>
                        <div class="checkbox" style="font-size: 16px;line-height: 1.6em">
                            <label>
                                <input type="checkbox" value="">
                                Return car to the SAME LOTS indicated in the pick-up location
                            </label>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="modal-footer" style="text-align: center">
            <h4><b>Any issues with the car?</b></h4>
            <button type="button" class="btn btn-warning" data-dismiss="modal">NO</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">YES</button>
        </div>

    </div>
    <!--wallet end-->
</div>