<div class="container-fluid good-padding-bottom-l">
    <div class="row">
        <div class="col-md-12 ">
            <!--update-->
            <div class="my-box my-box-top-border margin-top-20 ">
                <div class="box-header">
                    <h4 class="box-header-title"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit Account</h4>
                </div>
                <div class="box-body my-box-boundary row " style="margin-left: 20px ;margin-right: 20px;">
                    <form class=" signin-first-form form-horizontal">
                        <div class="form-group">
                            <label for="Name" class="col-md-2 control-label">Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="Name" readonly
                                       placeholder="{{appContext.username}}">
                            </div>
                            <span class="tishi-msg col-md-4 col-xs-12"></span>
                        </div>


                        <div class="form-group">
                            <label for="Email" class="col-md-2 control-label">Email</label>
                            <div class="col-md-6">
                                <input type="email" class="form-control" id="Email" readonly
                                       ng-model="appContext.userMsg.Email">
                            </div>
                            <span class="tishi-msg col-md-4 col-xs-12 glyphicon "></span>
                        </div>


                        <div class="form-group">
                            <label class="col-md-2 control-label" for="Phone">Handphone</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="Phone"
                                       required="required" placeholder="Your mobile number"
                                       ng-model="appContext.userMsg.Phone">
                            </div>
                            <span class="tishi-msg col-md-4 col-xs-12"></span>
                        </div>

                        <div class="form-group">
                            <label for="Password" class="col-md-2 control-label">Password</label>
                            <div class="col-md-6">
                                <input ng-model="signin_f.Password" type="password" class="form-control" id="Password"
                                       required="required" placeholder="As a login password">
                            </div>
                            <span class="tishi-msg col-md-3 col-xs-12 glyphicon {{errorMsg.passwordSpan}}">&nbsp;{{errorMsg.passwordMsg}}</span>
                        </div>
                        <div class="form-group">
                            <label for="PasswordAgain" class="col-md-2 control-label">Confirm password</label>
                            <div class="col-md-6">
                                <input ng-model="signin_f.PasswordAgain" type="password" class="form-control" id="PasswordAgain"
                                       required="required" placeholder="Input login password again">
                            </div>
                            <span class="tishi-msg col-md-3 col-xs-12 glyphicon {{errorMsg.passwordAgainSpan}}">&nbsp;{{errorMsg.passwordAgainMsg}}</span>
                        </div>

                        <div class="">
                            <button class="btn btn-warning col-md-offset-2" ng-click="back()">Back</button>
                            <button class="btn btn-success ">Update</button>
                        </div>

                    </form>

                </div>
            </div>


        </div>

        <!--update end-->
    </div>
</div>