<div class="col-md-12 good-margin-bottom-m" >
    <!--wallet-->
    <div class="my-box my-box-top-border margin-top-20 ">
        <div class="box-header">
            <h4 class="box-header-title" ng-bind="reportIssueObj.mainTitle">Report Issue </h4>
        </div>
        <div class="box-body my-box-boundary" id="isme2">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <form>
                        <div class="form-group">
                            <label for="form_issue_type">Issue Type</label>
                            <select id="form_issue_type" ng-model="reportIssueObj.IssueTypeId" class="form-control">
                                <option value="0">Please select one reason</option>
                                <option ng-repeat="item in appContext.ReportIssueReasons" value="{{item.ID}}">{{item.LeaseCancelReason}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" ng-model="reportIssueObj.Title" id="title" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="form_description">Description of the Issue</label>
                            <textarea id="form_description" required="required" ng-model="reportIssueObj.Remarks" placeholder="e.g. light scratch on front bumper" class="form-control" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="IssuePhoto1">Photographic evidence if any</label>
                            <input type="file" id="IssuePhoto1" required>
                        </div>
                        <button type="submit" ng-click="reportIssue()" class="btn btn-success btn-block">Send</button>
                    </form>
                </div>
            </div>

        </div>


    </div>
    <!--wallet end-->
</div>