<div class="container-fluid good-padding-bottom-l">
    <div class="row">
        <div class="col-md-12 ">
            <!--topup-->
            <div class="my-box my-box-top-border margin-top-20 ">
                <div class="box-header">
                    <h4 class="box-header-title">Top Up</h4>
                </div>


                <div class="box-body my-box-boundary topup " style="margin-left: 20px ;margin-right: 20px;">
                    <div class="row ">
                        <div class="col-xs-6 col-md-4">
                            <strong>Your Account</strong>
                        </div>
                        <div class="col-xs-6 col-md-8">
                            {{appContext.userTopupMsg.UserName}}
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xs-6 col-md-4">
                            <strong>Status</strong>
                        </div>
                        <div class="col-xs-6 col-md-8">
                            {{appContext.userTopupMsg.Status}}
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xs-6 col-md-4">
                            <strong>Deposit</strong>
                        </div>
                        <div class="col-xs-6 col-md-8">
                            $ {{(appContext.userTopupMsg.Deposit/100).toFixed(2)}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-md-4">
                            <strong>Balance</strong>
                        </div>
                        <div class="col-xs-6 col-md-8">
                            $ {{(appContext.userTopupMsg.Balance/100).toFixed(2)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <strong>Select amount to topup</strong>
                        </div>

                        <div class="col-md-2 col-xs-4 margin-top-10">
                            <button class="btn btn-success btn-block" ng-click="isCanTopUp('1000','2')">$ 10</button>
                        </div>
                        <div class="col-md-2 col-xs-4 margin-top-10">
                            <button class="btn btn-success btn-block" ng-click="isCanTopUp('2000','2')">$ 20</button>
                        </div>
                        <div class="col-md-2 col-xs-4 margin-top-10">
                            <button class="btn btn-success btn-block" ng-click="isCanTopUp('5000','2')">$ 50</button>
                        </div>
                        <div class="col-md-2 col-xs-4 margin-top-10">
                            <button class="btn btn-success btn-block" ng-click="isCanTopUp('10000','2')">$ 100</button>
                        </div>
                        <div class="col-md-2 col-xs-4 margin-top-10">
                            <button class="btn btn-success btn-block" ng-click="isCanTopUp('20000','2')">$ 200</button>
                        </div>
                        <div class="col-md-2 col-xs-4 margin-top-10">
                            <button class="btn btn-success btn-block" ng-click="isCanTopUp('50000','2')">$ 500</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--topup end-->





        </div>


    </div>

    <div class="row margin-top-25">
        <div class="col-md-12" ng-if="tishiBox.isShow">
            <div class="alert {{tishiBox.color}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 style="font-size: 18px" ng-bind="tishiBox.title"></h4>
                <p style="font-size: 16px" ng-bind="tishiBox.msg">

                </p>
            </div>
        </div>
    </div>
</div>


<!--提示模态框-->
<div class="example-modal">
    <div class="modal modal-default fade" id="isCanTopUp" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-tribecar modal-header-bg-color" >
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Promotion:</h4>
                </div>
                <div  class="modal-body" style="">
                    <p style="font-size: 16px">Your deposit is insufficient and you need to charge up to $ {{appContext.depositMsg.Amount}}, are you sure?</p>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-success" data-dismiss="modal">NO</a>
                    <a type="button" class="btn btn-danger" ng-click="topUpDeposite()">YES</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--提示模态框结尾-->

<script src="https://secure-test.wirecard.com.sg/engine/hpp/paymentPageLoader.js" type="text/javascript"></script>