<div class="good-padding-bottom-l main-content">
    <div class="container-fluid">
        <div class="step hidden-xs hidden-sm" style="margin-left: -15px;margin-right: -15px">
            <div class="row">
                <div class="col-md-10 col-md-offset-2 ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="media active">
                                <div class="media-left">
                                    <a>
                                        <img class="media-object" src="img/1_red.png" alt="1">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" style="margin-top: 10px">First Step</h4>
                                    <p>Basic information</p>
                                </div>
                                <div class="media-right">
                                    <a>
                                        <img class="media-object" src="img/next_red.png" alt="next">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 ">
                            <div class="media active">
                                <div class="media-left">
                                    <a>
                                        <img class="media-object" src="img/2_red.png" alt="2">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" style="margin-top: 10px">Second Step</h4>
                                    <p>Perfect information</p>
                                </div>
                                <div class="media-right">
                                    <a>
                                        <img class="media-object" src="img/next_red.png" alt="next">
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 ">
                            <div class="media active">
                                <div class="media-left">
                                    <a>
                                        <img class="media-object" src="img/3_red.png" alt="3">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" style="margin-top: 10px">Third Step</h4>
                                    <p>Pending audit</p>
                                </div>
                                <div class="media-right" style="padding-left: 10px">
                                    <div style="width: 64px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="waitObj.isShowAll" class="container-fluid margin-top-25" style="margin-bottom: 250px">
            <div class="pic-center-wrap col-md-12 col-sm-12 col-xs-12">
                <h3 ng-bind="waitObj.title" style="color:#5cb85c "></h3>
                <img src="img/waiting.gif" class="margin-top-20" ng-if="waitObj.isShowWaitImg">
                <div class="margin-top-20" ng-if="waitObj.isShowlockBtn">
                    <i class="glyphicon glyphicon-thumbs-up" style="font-size: 64px;color: #5cb85c"></i><br>
                </div>
                <h4 class="margin-top-20" ng-bind="waitObj.msg"></h4>
            </div>
        </div>
    </div>
</div>