
<!--标签盒子-->

<div class="container-fluid margin-top-25 margin-bottom-25" style="overflow-x: hidden;border: 1px solid red;padding-bottom: 50px">
    <div class="row">
        <div class="col-md-4">
            <div class="my-box my-box-top-border margin-top-20">
                <div class="box-header">
                    <h4 class="box-header-title">Petrol Hybrid | 5 Seater</h4>
                    <p class="box-header-p">Toyota Prius or similar</p>
                    <a href="#">
                        <i class="glyphicon glyphicon-star-empty"></i>
                        Anchorvale Rd Blk 308
                    </a>
                </div>
                <div class="box-body  my-box-boundary" >
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12 box-body-thumb-wrap">
                            <img src="img/homepage-banner.jpg" alt="thumb" class="box-body-thumb"/>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <h5 class="bottom-border">Pickup</h5>
                            <p>
                                <i class="glyphicon glyphicon-time"></i>
                                8:00
                            </p>
                            <p>
                                <i class="glyphicon glyphicon-calendar"></i>
                                4 Aug 2017
                            </p>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <h5 class="bottom-border">Return</h5>
                            <p>
                                <i class="glyphicon glyphicon-time"></i>
                                13:00
                            </p>
                            <p>
                                <i class="glyphicon glyphicon-calendar"></i>
                                4 Aug 2017
                            </p>
                        </div>

                        <div class="loadPice col-md-12 text-center">
                            <img src="img/waiting.gif">
                        </div>

                        <div class="payPrice">
                            <!--计算价格-->
                            <div class="col-md-12 countPrice">
                                <div class="top">
                                    <table class="table table-no-border" >
                                        <tbody>
                                            <tr>
                                                <td class="left">
                                                    <strong>Rental Fee</strong> (14:00 to 00:00)<br/>
                                                    $6.80 x 10 hrs
                                                </td>
                                                <td class="right text-right">
                                                    $68.00
                                                </td>
                                            </tr>
                                            <tr >
                                                <td class="left">
                                                    <strong>Rental Fee</strong> (00:00 to 06:00)<br/>
                                                    $3.80 x 6 hrs
                                                </td>
                                                <td class="right text-right">
                                                    $22.80
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="left">
                                                    <strong>Rental Fee</strong> (06:00 to 10:00)<br/>
                                                    $6.80 x 4 hrs
                                                </td>
                                                <td class="right text-right">
                                                    $27.20
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="totalPrice">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="left">
                                                <b>Booking Total</b>
                                            </td>
                                            <td class="right text-right">
                                                $118.00
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <!--计算价格End-->

                            <!--个人账户-->
                            <div class="col-md-12 myAccount">
                                <div class="wrap">
                                    <div class="my-account-header">
                                        <b>
                                            <i class="glyphicon glyphicon-usd"></i>
                                            E-Wallet Credits <a href="#/sidemenu/topup" class="topup-link">(Top Up)</a>
                                        </b>
                                    </div>
                                    <div class="my-account-body">
                                        <table class="table table-no-border">
                                            <tbody>
                                            <tr>
                                                <td class="left">
                                                    <b>Available</b>
                                                </td>
                                                <td class="right text-right">
                                                    $1333318.00
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="left">
                                                    <b>Booking Total</b>
                                                </td>
                                                <td class="right text-right">
                                                    - $118.00
                                                </td>
                                            </tr>
                                            <tr class="balance">
                                                <td class="left " >
                                                    <b>Balance</b>
                                                </td>
                                                <td class="right text-right ">
                                                    $1184234.00
                                                </td>
                                            </tr>

                                            <tr id="noMoreMoney" class="noMoreMoney">
                                                <td colspan="2">
                                                    * Insufficient Credits in your e-Wallet, <span class="label label-warning"><a href="#/sidemenu/topup">click here</a></span>
                                                    to top up.
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--个人账户End-->

                            <!--结算-->
                            <div class="col-md-12 booking">
                                <div class="form-group">
                                    <div class="agreeMe">
                                        <label>
                                            <input type="checkbox">
                                            I agree to the <a href="#" target="_blank">terms and conditions</a>
                                            as stated in the website.
                                        </label>
                                    </div>
                                </div>
                                <button id="booking" class="btn btn-primary btn-block">Booking the Car</button>
                            </div>
                            <!--结算End-->

                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-8">
            <div class="my-box my-box-top-border margin-top-20">
                <div class="box-header">
                    <div class="box-corner">
                        <button class="btn" data-toggle="collapse" data-target="#isme" aria-controls="isme"
                                aria-expanded="true">
                            <i class="glyphicon"></i>
                        </button>
                    </div>
                    <h4 class="box-header-title">Map</h4>
                </div>
                <div class="box-body collapse in my-box-boundary" id="isme">
                    <div class="map-area" style="height: 300px;">

                    </div>
                </div>
            </div>
            <div class="my-box my-box-top-border margin-top-20">
                <div class="box-header">
                    <div class="box-corner">
                        <button class="btn" data-toggle="collapse" data-target="#isme2" aria-controls="isme2"
                                aria-expanded="true">
                            <i class="glyphicon"></i>
                        </button>
                    </div>
                    <h4 class="box-header-title">Address, Directions to vehicle</h4>
                </div>
                <div class="box-body collapse in my-box-boundary" id="isme2">
                    <div class="map-area" style="height: 120px;">

                    </div>
                </div>
            </div>

            <div class="timeTable margin-top-25">
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th ng-repeat="item in timeTable.times" ng-bind="item"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-repeat="item in timeTable.bgcolors" class="{{item.bgcClass}}"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>




    </div>
</div>

<!--标签盒子结尾-->