<div class="container-fluid   left-right-padding-40 maincontent-bgc hidden-overflow-x"
     style="padding-bottom: 100px">
    <div class="step hidden-xs hidden-sm" style="margin-left: -40px;margin-right: -40px">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-4">
                        <div class="media active">
                            <div class="media-left">
                                <a href="#/search">
                                    <img class="media-object" src="img/1_red.png" alt="1">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" style="margin-top: 10px">Searching</h4>
                                <p>Get the right taxi for you</p>
                            </div>
                            <div class="media-right">
                                <a>
                                    <img class="media-object" src="img/next_red.png" alt="next">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 ">
                        <div class="media active">
                            <div class="media-left">
                                <a href="#/booking/545">
                                    <img class="media-object" src="img/2_red.png" alt="2">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" style="margin-top: 10px">Booking Details</h4>
                                <p> Taxi details and payment</p>
                            </div>
                            <div class="media-right">
                                <a>
                                    <img class="media-object" src="img/next_red.png" alt="next">
                                </a>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 ">
                        <div class="media active">
                            <div class="media-left">
                                <a>
                                    <img class="media-object" src="img/3_red.png" alt="3">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" style="margin-top: 10px">Confirm & Reserved</h4>
                                <p>Booking confirm information</p>
                            </div>
                            <div class="media-right" style="padding-left: 10px">
                                <div style="width: 64px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="my-box my-box-top-border margin-top-20">
                <div class="box-header">
                    <h4 class="box-header-title text-center">Reservation No:123456</h4>
                    <h4 class="box-header-title text-center">Vehical NO:SHC1234G</h4>
                </div>
                <div class="box-body  my-box-boundary">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12 box-body-thumb-wrap">
                            <img src="img/list-pic.jpg" alt="thumb" class="box-body-thumb"/>
                        </div>
                        <div class="col-md-12 ">
                            <h5 class="bottom-border" style="font-size: 18px;font-weight: bold">Pickup Details</h5>

                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <p>
                                        <i class="glyphicon glyphicon-map-marker"></i>
                                    </p>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <p>
                                        354 Admiralty Dr, Singapore 750354
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <p>
                                        <i class="glyphicon glyphicon-time"></i>
                                    </p>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <p>
                                        2017-08-04 15:00
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <h5 class="bottom-border margin-top-20" style="font-size: 18px;font-weight: bold">Drop off
                                Details</h5>

                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <p>
                                        <i class="glyphicon glyphicon-map-marker"></i>
                                    </p>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <p>
                                        354 Admiralty Dr, Singapore 750354
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <p>
                                        <i class="glyphicon glyphicon-time"></i>
                                    </p>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <p>
                                        2017-08-14 15:00
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="payPrice">

                            <!--个人账户-->
                            <div class="col-md-12 myAccount">
                                <div class="wrap">
                                    <div class="my-account-header">
                                        <b>
                                            <i class="glyphicon glyphicon-piggy-bank"></i>
                                            E-Wallet Credits <a href="#/sidemenu/topup" class="topup-link">(Top Up)</a>
                                        </b>
                                    </div>
                                    <div class="my-account-body">
                                        <table class="table table-no-border">
                                            <tbody>
                                            <tr>
                                                <td class="left">
                                                    <b>Available</b>
                                                </td>
                                                <td class="right text-right">
                                                    $1333318.00
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="left">
                                                    <b>Booking Total</b>
                                                </td>
                                                <td class="right text-right">
                                                    - $118.00
                                                </td>
                                            </tr>
                                            <tr class="balance">
                                                <td class="left ">
                                                    <b>Balance</b>
                                                </td>
                                                <td class="right text-right ">
                                                    $1184234.00
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--个人账户End-->
                        </div>


                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-8">
            <div class="my-box my-box-top-border margin-top-20">
                <div class="box-header">
                    <div class="box-corner">
                        <button class="btn" data-toggle="collapse" data-target="#isme" aria-controls="isme"
                                aria-expanded="true">
                            <i class="glyphicon"></i>
                        </button>
                    </div>
                    <h4 class="box-header-title">Map</h4>
                </div>
                <div class="box-body collapse in my-box-boundary" id="isme">
                    <div class="map-area" style="height: 300px;">

                    </div>
                </div>
            </div>
            <div class="my-box my-box-top-border margin-top-20 ">
                <div class="box-header">
                    <div class="box-corner">
                        <button class="btn" data-toggle="collapse" data-target="#isme2" aria-controls="isme2"
                                aria-expanded="true">
                            <i class="glyphicon"></i>
                        </button>
                    </div>
                    <h4 class="box-header-title">Address, Directions to vehicle</h4>
                </div>
                <div class="box-body collapse in my-box-boundary" id="isme2">
                    <div class="map-area" style="">
                        <div class="map-area" style="">
                            <p>354 Admiralty Dr, Singapore 750354</p>
                            <p>
                                354 Admiralty Dr
                                <br/>
                                Proceed to Deck 5B, Lot Any lot withing deck 5B.
                                <br/>Alternative car park lots if full: Any lot withing deck 5B

                            </p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="timeTable margin-top-25">

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center table-title">
                            <h4 style="font-weight: bold"></h4>
                        </div>
                        <table class="table-time">
                            <thead>
                            <tr>
                                <th ng-repeat="item in timeTable.times" ng-bind="item"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td ng-repeat="item in timeTable.bgcolors" class="{{item.bgcClass}}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-8 col-md-offset-2 margin-top-20 col-xs-10 col-xs-offset-1">
                        <button class="btn btn-block btn-success">
                            Sucess<br>
                            <small>Your car has benn booked</small>
                        </button>
                    </div>

                    <div class="col-md-8 col-md-offset-2 text-right col-xs-10 col-xs-offset-1"
                         style="margin-top: 10px ;">
                        <a style="font-size: 16px;font-weight: bold;" href="#/search">
                            More Booking
                        </a>
                    </div>
                </div>


            </div>
        </div>

    </div>


</div>