
<!--页面脚部-->
<footer ng-if="!appContext.isSidemenu" class="main-footer ">
    <div class="container">
        <!--底部链接-->
        <div class="row">
            <div class="col-md-4 col-xs-12 ">
                <div class="weight">
                    <h4>About TaxiShare</h4>
                    <div class="weight-list">
                        <a href="#">About us</a>
                        <br>
                        <a href="#">Contact</a>
                        <br>
                        <a href="mailto:{{appContext.smartEmail}}" >
                            <i class="glyphicon glyphicon-envelope"></i>&nbsp;
                            {{appContext.smartEmail}}
                        </a>
                        <br>
                        <a href="#">
                            <i class="glyphicon glyphicon-phone-alt"></i>&nbsp;
                            +65 6477 5353
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-xs-6 ">
                <div class="weight">
                    <h4>Learn more</h4>
                    <div class="weight-list">
                        <a href="#/faq">FAQ</a>
                        <br>
                        <a href="#/terms">Terms &Conditions</a>
                        <br>
                        <a href="#/privacypolicy">Privacy Policy</a>
                        <br>
                        <a href="#">
                            <i class="glyphicon glyphicon-play-circle"></i>&nbsp;
                            Tutorial Video
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 ">
                <div class="weight">
                    <h4>Follow us</h4>
                    <div class="weight-list">
                        <a ng-click="scrollToTop()">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>&nbsp;
                            Follow us on Facebook
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6 ">
                <div class="weight">
                    <h4>Quick Links</h4>
                    <div class="weight-list">
                        <a href="#">Home</a>
                        <br>
                        <a href="#/ourrates">Our Rates</a>
                    </div>
                </div>

            </div>

        </div>
        <!--底部链接结尾-->
        <div class="copyright">
            <div class="content">
                Copyright © 2017 SMRT Taxis<span style="margin-left:20px;">Registration No: 198905369K</span>
            </div>

        </div>
        <!--底部审核-->
        <!--底部审核结尾-->
    </div>
</footer>
<!--页面脚部结尾-->
