<div class=" good-padding-bottom-l" style="background-color: #efefef">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!--update-->
                <div class="my-box my-box-top-border margin-top-20 ">
                    <div class="box-header">
                        <div class="box-header-title" style="font-size: 24px">
                            Forgot Password ?
                        </div>
                    </div>
                    <div class="box-body my-box-boundary row " style="margin-left: 20px ;margin-right: 20px;">
                        <p style="font-size: 16px">Enter your e-mail address below to reset your password.</p>
                        <form class=" signin-first-form form-horizontal">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input ng-model="Email" type="email" class="form-control" id="Email"
                                           required="required" placeholder="Email">
                                </div>
                            <span class="tishi-msg col-md-6 col-xs-12 glyphicon {{errorMsg.emailSpan}}"
                                  style=" padding-top: 7px;text-align: left;">&nbsp;{{errorMsg.emailMsg}}</span>
                            </div>
                            <div class="row">

                                <div class="col-md-3 col-sm-6 col-xs-6" ng-show="errorMsg.emailSpan == 'success-span'">
                                    <input ng-model="verificationCode" type="text" class="form-control" id="verificationCode"
                                           placeholder="Verification code from emil" data-trigger="focus"
                                           data-container="body" data-placement="bottom" data-content="{{getVerificationBtn.msg}}"
                                    >
                                 </div>

                                <div class="col-md-3 col-xs-6" ng-if="errorMsg.emailSpan != 'success-span'">
                                    <button class="btn btn-warning btn-block" ng-click="back()">Back</button>
                                </div>
                                <div class="col-md-3  col-sm-6 col-xs-6 ">
                                    <button ng-bind="getVerificationBtn.title"  class="btn btn-success btn-block {{getVerificationBtn.disable}}" ng-click="getVerification()"></button>
                                </div>
                            </div>


                            <div class="form-group margin-top-20" ng-show="errorMsg.emailSpan == 'success-span'">
                                <div class="col-md-6">
                                    <input ng-model="newPassword.password" type="password" class="form-control" id="newPassword"
                                           placeholder="Your new password" data-trigger="focus"
                                           data-container="body" data-placement="bottom" data-content="{{newPassword.msg}}"
                                    >
                                </div>
                            </div>

                            <div class="row margin-top-20">
                                <div class="col-md-3 col-xs-6" ng-if="errorMsg.emailSpan == 'success-span'">
                                    <button class="btn btn-warning btn-block" ng-click="back()">Back</button>
                                </div>
                                <div class="col-md-3 col-xs-6 " ng-if="errorMsg.emailSpan == 'success-span'">
                                    <button ng-click="sub()" class="btn btn-success btn-block">Submit</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
