<div class=" good-padding-bottom-l" style="background-color: #efefef">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!--update-->
                <div class="my-box my-box-top-border margin-top-20 ">
                    <div class="box-header">
                        <div class="box-header-title" style="font-size: 24px">
                            Forgot Password ?
                        </div>
                    </div>
                    <div class="box-body my-box-boundary row " style="margin-left: 20px ;margin-right: 20px;">
                        <p style="font-size: 16px">Enter your e-mail address below to reset your password.</p>
                        <form class=" signin-first-form form-horizontal">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input ng-model="Email" type="email" class="form-control" id="Email"
                                           required="required" placeholder="Email">
                                </div>
                            <span class="tishi-msg col-md-6 col-xs-12 glyphicon {{errorMsg.emailSpan}}"
                                  style=" padding-top: 7px;text-align: left;">&nbsp;{{errorMsg.emailMsg}}</span>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-xs-6">
                                    <button class="btn btn-warning btn-block" ng-click="back()">Back</button>
                                </div>
                                <div class="col-md-3 col-xs-6 ">
                                    <button ng-click="sub()" class="btn btn-success btn-block">Submit</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>