<!--登录表-->

<div class="login-bgi ">
    <div class="container">
        <div class="col-md-4 col-md-offset-4 ">
            <div class="login-form row">

                <div class="login-form-content">
                    <div class="login-form-title">
                        Log In
                    </div>

                    <div ng-if="!errorState" class="zhanwei-tishi"></div>
                    <div class="error-tishi" ng-if="errorState" ng-bind="errorMsg">
                    </div>


                    <form id="loginForm">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input ng-model="loginMsg.email" type="email" class="form-control" value="" id="loginEmail"
                                       placeholder="Email" required>

                            </div>
                            <!-- <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                             <span id="inputEmailState" class="sr-only">(success)</span>-->
                        </div>

                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input ng-model="loginMsg.password" type="password" class="form-control" value="" id="loginPwd"
                                       placeholder="Password" required>
                            </div>
                            <!--<span class="glyphicon glyphicon-ok form-control-feedback " aria-hidden="true"></span>
                            <span id="inputPasswordState" class="sr-only">(success)</span>-->
                        </div>
                        <div class="form-group has-feedback">
                            <div class="checkbox">
                                <label>
                                    <input ng-model="isRemeberMe" type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <button ng-click="login()" class="btn btn-success btn-block" type="submit" id="login"
                                    value="Log In" style="font-weight: bold">Log In
                            </button>
                        </div>
                    </form>

                    <div style="margin-top: 15px;">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                                <a href="#/forgetPassword" class="">Forgot password&nbsp;?</a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                <a href="#/signup_f/" class="" >Sign up now</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<!--登录表结尾-->