<div class="some-thing-to-show main-content" style="">
    <div class="row">
        <div class="col-xs-12">
            <div class="booking-search-header">
                <div class="content-level-nav">
                </div>
            </div>
        </div>
    </div>


    <div class="container" style="padding: 0">
        <div class="row good-margin-top-50-0">
            <div class="col-md-6">
                <div class="row">

                    <div class="col-xs-12">
                        <div class="my-box noborder" style="background-color: #e81e06;padding: 0">
                            <div class="box-header" style="background-color: #e81e06;margin: 0">
                                <div class="img-container col-xs-4" style="">
                                    <div class="img-show" style="height: 150px">
                                        <img src="img/bookingsearch_header_logo.png" style="width: 70%">
                                    </div>
                                </div>
                                <div class="col-xs-8 msg-container">
                                    <div class="msg-show" style="height: 150px">
                                        <h2 class="search-big-text">SEARCH FOR YOU</h2>
                                        <h1 class="next-trip-text"> Next Trip</h1>
                                    </div>
                                </div>
                            </div>

                            <div class="box-body collapse in " id="isme"
                                 style="padding-bottom: 0;padding-top: 0;">

                                <div id="searchCarForm" class="row" style="">
                                    <form>
                                        <div class="col-xs-12">
                                            <div class="search" style="">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group mainsearch-item">
                                                            <div style="margin-left: 12px">
                                                                <label class="control-label"
                                                                       for="pickupLocation">Location</label>
                                                                <select ng-model="searchMsg.location"
                                                                        id="pickupLocation"
                                                                        class="form-control">
                                                                    <option value="0">Select location</option>
                                                                    <option ng-repeat="item in searchMsg.locations"
                                                                            value="{{item.ID}}">
                                                                        {{item.Address}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" col-xs-6 ">
                                                        <div class="form-group mainsearch-item">

                                                            <div class="input-group controls input-append date form_date"
                                                                 data-date=""
                                                                 data-date-format="yyyy-mm-dd"
                                                                 data-link-format="yyyy-mm-dd">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                                                                <label class="control-label" for="pickupStartDate">Start
                                                                    Date</label>
                                                                <input ng-model="searchMsg.startDate" type="text"
                                                                       class="form-control datepicker"
                                                                       id="pickupStartDate"
                                                                       readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" col-xs-6 ">
                                                        <div class="form-group mainsearch-item">
                                                            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-time"></i>
                        </span>
                                                                <label class="control-label" for="pickupStartTime">Pick-up
                                                                    Time</label>
                                                                <select ng-model="searchMsg.startTime"
                                                                        id="pickupStartTime"
                                                                        class="form-control">
                                                                    <option value="">Pickup Time</option>
                                                                    <option value="00:00">00:00</option>
                                                                    <option value="01:00">01:00</option>
                                                                    <option value="02:00">02:00</option>
                                                                    <option value="03:00">03:00</option>
                                                                    <option value="04:00">04:00</option>
                                                                    <option value="05:00">05:00</option>
                                                                    <option value="06:00">06:00</option>
                                                                    <option value="07:00">07:00</option>
                                                                    <option value="08:00">08:00</option>
                                                                    <option value="09:00">09:00</option>
                                                                    <option value="10:00">10:00</option>
                                                                    <option value="11:00">11:00</option>
                                                                    <option value="12:00">12:00</option>
                                                                    <option value="13:00">13:00</option>
                                                                    <option value="14:00">14:00</option>
                                                                    <option value="15:00">15:00</option>
                                                                    <option value="16:00">16:00</option>
                                                                    <option value="17:00">17:00</option>
                                                                    <option value="18:00">18:00</option>
                                                                    <option value="19:00">19:00</option>
                                                                    <option value="20:00">20:00</option>
                                                                    <option value="21:00">21:00</option>
                                                                    <option value="22:00">22:00</option>
                                                                    <option value="23:00">23:00</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" col-xs-6 ">
                                                        <div class="form-group  mainsearch-item">
                                                            <div style="margin-left: 12px">
                                                                <label class="control-label"
                                                                       for="duration">Duration(hrs)</label>
                                                                <select ng-model="searchMsg.duration" id="duration"
                                                                        class="form-control ">
                                                                    <option ng-repeat="item in searchMsg.durations"
                                                                            value="{{item.ID}}">
                                                                        {{item.Duration}}
                                                                    </option>
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class=" col-xs-6 ">
                                                        <div class="form-group mainsearch-item">
                                                            <div style="margin-left: 12px">
                                                                <label class="control-label" for="rentFor">Vehicle
                                                                    Type</label>
                                                                <select ng-model="searchMsg.rentFor" id="rentFor"
                                                                        class="form-control ">
                                                                    <option value="0">Any</option>
                                                                    <option ng-repeat="item in searchMsg.rentFors"
                                                                            value="{{item.ID}}">
                                                                        {{item.LeaseTypeName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3 col-xs-6" hidden>
                                                        <div class="form-group mainsearch-item">
                                                            <div style="margin-left: 12px">
                                                                <label class="control-label" for="pickupCategory">Vehicle
                                                                    Type</label>
                                                                <select ng-model="searchMsg.category"
                                                                        id="pickupCategory"
                                                                        class="form-control ">
                                                                    <option value="0">Any Category</option>
                                                                    <option ng-repeat="item in searchMsg.categorys"
                                                                            value="{{item.ID}}">
                                                                        {{item.VehicleTypeName}}
                                                                    </option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class=" col-xs-6">
                                                        <div class="form-group mainsearch-item">
                                                            <div style="margin-left: 12px">
                                                                <label class="control-label" for="vehicleNumber">Vehicle
                                                                    Number</label>
                                                                <select ng-model="searchMsg.vehicleNumber"
                                                                        id="vehicleNumber"
                                                                        class="form-control ">
                                                                    <option value="0">Any</option>
                                                                    <option ng-repeat="item in searchMsg.vehicleNumbers"
                                                                            value="{{item.ID}}">
                                                                        {{item.Plate}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" col-xs-6">
                                                        <div style="margin-left: 12px">
                                                            <button ng-click="mainsearch()" type="button"
                                                                    class="btn btn-block btn-orange form-control "
                                                                    style="margin-top: 35px;font-weight: bold">SEARCH
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>


            </div>
            <div class="col-md-6 good-margin-top-0-20">
                <div class="row">

                    <div class="col-xs-12">
                        <div class="my-box noborder" style="background-color: #fff;padding: 0">
                            <div class="box-header" style="background-color: #ccc;margin: 0">
                                <h4 class="box-header-title" style="color: #fff;font-size: 18px;margin-left: 25px">
                                    Recommended Bookings</h4>
                            </div>

                            <div class="box-body collapse in  " id="ismelast"
                                 style="padding-bottom: 0;padding-top: 0;">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="car-pic-zhanshi" style="border-top: 1px solid #ccc">
                                            <div class="img-container col-xs-4" style="">
                                                <div class="img-show" style="height: 150px">
                                                    <img src="img/list-pic.jpg" style="">
                                                </div>

                                            </div>
                                            <div class="msg-container col-xs-5"
                                                 style="padding-right: 0;padding-left: 0">
                                                <div class="msg-show" style=" height:150px;width: 80%">
                                                    <div class="location">
                                                        <a href="" style="" class="location-a">
                                                            <i class="glyphicon glyphicon-map-marker"></i>
                                                            Admirallty Dr Blk
                                                        </a>
                                                    </div>
                                                    <div class="time">11 :00 - 14: 00</div>
                                                    <div class="car-type">TAXI - PERTROL/HYBRID</div>
                                                    <div class="car-seats">5 Seater [Toyota Prius]</div>
                                                </div>

                                                <!--<div class="msg-show" style=" height:150px;width: 20%">-->
                                                <!--<img src="img/go_right.png" style="">-->
                                                <!--</div>-->
                                            </div>

                                            <div class="col-xs-3 msg-container"
                                                 style="padding-right: 0;padding-left: 0">
                                                <div class="msg-show" style=" height:150px;">
                                                    <div class="price">
                                                        $ 20.00
                                                    </div>
                                                    <div class="book-btn">
                                                        <a href="#" class="btn btn-dark" style="">VIEW DEAILS</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="car-pic-zhanshi" style="border-top: 1px solid #ccc">
                                            <div class="img-container col-xs-4" style="">
                                                <div class="img-show" style="height: 150px">
                                                    <img src="img/list-pic.jpg" style="">
                                                </div>

                                            </div>
                                            <div class="msg-container col-xs-5"
                                                 style="padding-right: 0;padding-left: 0">
                                                <div class="msg-show" style=" height:150px;width: 80%">
                                                    <div class="location">
                                                        <a href="" style="" class="location-a">
                                                            <i class="glyphicon glyphicon-map-marker"></i>
                                                            Admirallty Dr Blk
                                                        </a>
                                                    </div>
                                                    <div class="time">11 :00 - 14: 00</div>
                                                    <div class="car-type">TAXI - PERTROL/HYBRID</div>
                                                    <div class="car-seats">5 Seater [Toyota Prius]</div>
                                                </div>

                                                <!--<div class="msg-show" style=" height:150px;width: 20%">-->
                                                <!--<img src="img/go_right.png" style="">-->
                                                <!--</div>-->
                                            </div>

                                            <div class="col-xs-3 msg-container"
                                                 style="padding-right: 0;padding-left: 0">
                                                <div class="msg-show" style=" height:150px;">
                                                    <div class="price">
                                                        $ 20.00
                                                    </div>
                                                    <div class="book-btn">
                                                        <a href="#" class="btn btn-dark" style="">VIEW DEAILS</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="car-pic-zhanshi" style="border-top: 1px solid #ccc">
                                            <div class="img-container col-xs-4" style="">
                                                <div class="img-show" style="height: 150px">
                                                    <img src="img/list-pic.jpg" style="">
                                                </div>

                                            </div>
                                            <div class="msg-container col-xs-5"
                                                 style="padding-right: 0;padding-left: 0">
                                                <div class="msg-show" style="height:150px;width: 80%">
                                                    <div class="location">
                                                        <a href="" style="" class="location-a">
                                                            <i class="glyphicon glyphicon-map-marker"></i>
                                                            Admirallty Dr Blk
                                                        </a>
                                                    </div>
                                                    <div class="time">11 :00 - 14: 00</div>
                                                    <div class="car-type">TAXI - PERTROL/HYBRID</div>
                                                    <div class="car-seats">5 Seater [Toyota Prius]</div>
                                                </div>

                                                <!--<div class="msg-show" style=" height:150px;width: 20%">-->
                                                <!--<img src="img/go_right.png" style="">-->
                                                <!--</div>-->
                                            </div>

                                            <div class="col-xs-3 msg-container"
                                                 style="padding-right: 0;padding-left: 0">
                                                <div class="msg-show" style=" height:150px;">
                                                    <div class="price">
                                                        $ 20.00
                                                    </div>
                                                    <div class="book-btn">
                                                        <a href="#" class="btn btn-dark " style="">VIEW DEAILS</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row margin-top-20">
            <div class="col-md-12">
                <div>
                    <img src="img/locations_map.png" alt="" style="width: 100%;height: auto">
                </div>
            </div>
        </div>

        <div class="row margin-top-20">
            <div class="col-md-12">
                <div class="sign-up-for-more-title">
                    <h2>FOR NEW SIGN UPS</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="sign-up-for-more-items-container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="sign-up-for-more-item">
                                <p>REFER A FRIEND & RECEIVE</p>
                                <b>$50 Credits From Us !</b>
                            </div>
                            <div class="item-line"></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="sign-up-for-more-item">
                                <p>WAIVER OF</p>
                                <b>Security Deposit</b>
                            </div>
                            <div class="item-line"></div>
                        </div>
                        <div class="col-sm-4">
                            <div class="sign-up-for-more-item">
                                <p>TOP UP $1 & GET</p>
                                <b>$50 Free Credits</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-top-20 margin-bottom-20">
            <div class="col-md-12" style="">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div style=" " class="margin-top-20 img-hover-style-container">
                            <a href="#">
                                <img src="img/bookingsearch_foot_item1.png" alt="" style="height: 100%;width: 100%">
                                <div class="mask">
                                    <div class="mask-item">
                                        <i class="fa fa-taxi"></i>
                                        <p class='title'>DRIVER WITH US FOR MORE
                                            FLEXIBILITY.RATES AS LOW AS
                                            $1.80!</p>

                                        <div class="find-out-more">
                                            <a href="">
                                                FIND OUT MORE
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div style="" class="margin-top-20 img-hover-style-container">
                            <a href="#">
                                <img src="img/bookingsearch_foot_item2.png" alt="" style="height: 100%;width: 100%">
                                <div class="mask">
                                    <div class="mask-item">
                                        <i class="fa fa-taxi"></i>
                                        <p class='title'>DRIVER WITH US FOR MORE
                                            FLEXIBILITY.RATES AS LOW AS
                                            $1.80!</p>

                                        <div class="find-out-more">
                                            <a href="">
                                                FIND OUT MORE
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div style="" class="margin-top-20 img-hover-style-container">
                            <a href="#">
                                <img src="img/bookingsearch_foot_item3.png" alt="" style="height: 100%;width: 100%">
                                <div class="mask">
                                    <div class="mask-item">
                                        <i class="fa fa-taxi"></i>
                                        <p class='title'>DRIVER WITH US FOR MORE
                                            FLEXIBILITY.RATES AS LOW AS
                                            $1.80!</p>

                                        <div class="find-out-more">
                                            <a href="">
                                                FIND OUT MORE
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('.form_date').datetimepicker({
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        startDate: new Date()
    });







</script>