<div class="">
    <div class="bg">
        <div class="container">
            <div class="row">
                <!--主副标题-->
                <div class="col-md-12">
                    <h1 class="big-title" style="color: #ffffff;text-align: center;margin-top: 50px">RENT A TAXI WITH
                        FLEXIBLE HOURLY RATES</h1>
                    <div class="col-md-6 col-md-offset-3 hidden-xs">
                        <h3 class="sub-title">EARN EXTRA INCOME AT YOUR CONVENIENCE</h3>
                    </div>
                </div>
                <!--主副标题结尾-->
                <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0">
                    <div class="mainsearch">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 col-sm-3">
                                <div class="form-group mainsearch-item">

                                    <div class="input-group controls input-append date form_date" data-date=""
                                         data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                                        <label class="control-label" for="pickupStartDate">Start date</label>
                                        <input ng-model="searchMsg.startDate" type="text"
                                               class="form-control datepicker" id="pickupStartDate" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 col-sm-3">
                                <div class="form-group mainsearch-item">
                                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-time"></i>
                        </span>
                                        <label class="control-label" for="pickupStartTime">Pick-up time</label>
                                        <select ng-model="searchMsg.startTime" id="pickupStartTime"
                                                class="form-control">
                                            <option value="">Pickup Time</option>
                                            <option value="00:00">00:00</option>
                                            <option value="01:00">01:00</option>
                                            <option value="02:00">02:00</option>
                                            <option value="03:00">03:00</option>
                                            <option value="04:00">04:00</option>
                                            <option value="05:00">05:00</option>
                                            <option value="06:00">06:00</option>
                                            <option value="07:00">07:00</option>
                                            <option value="08:00">08:00</option>
                                            <option value="09:00">09:00</option>
                                            <option value="10:00">10:00</option>
                                            <option value="11:00">11:00</option>
                                            <option value="12:00">12:00</option>
                                            <option value="13:00">13:00</option>
                                            <option value="14:00">14:00</option>
                                            <option value="15:00">15:00</option>
                                            <option value="16:00">16:00</option>
                                            <option value="17:00">17:00</option>
                                            <option value="18:00">18:00</option>
                                            <option value="19:00">19:00</option>
                                            <option value="20:00">20:00</option>
                                            <option value="21:00">21:00</option>
                                            <option value="22:00">22:00</option>
                                            <option value="23:00">23:00</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 col-sm-3">
                                <div class="form-group  mainsearch-item">
                                    <div class="input-group controls input-append date form_date" data-date=""
                                         data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                                        <label class="control-label" for="pickupEndDate">End date</label>
                                        <input ng-model="searchMsg.endDate" type="text" class="form-control datepicker"
                                               id="pickupEndDate" readonly>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 col-sm-3">
                                <div class="form-group mainsearch-item">
                                    <div class="input-group">
                         <span class="input-group-addon">
                            <i class="glyphicon glyphicon-time"></i>
                     </span>
                                        <label class="control-label" for="pickupEndTime">Return time</label>
                                        <select ng-model="searchMsg.endTime" id="pickupEndTime" class="form-control">
                                            <option value="">Pickup Time</option>
                                            <option value="00:00">00:00</option>
                                            <option value="01:00">01:00</option>
                                            <option value="02:00">02:00</option>
                                            <option value="03:00">03:00</option>
                                            <option value="04:00">04:00</option>
                                            <option value="05:00">05:00</option>
                                            <option value="06:00">06:00</option>
                                            <option value="07:00">07:00</option>
                                            <option value="08:00">08:00</option>
                                            <option value="09:00">09:00</option>
                                            <option value="10:00">10:00</option>
                                            <option value="11:00">11:00</option>
                                            <option value="12:00">12:00</option>
                                            <option value="13:00">13:00</option>
                                            <option value="14:00">14:00</option>
                                            <option value="15:00">15:00</option>
                                            <option value="16:00">16:00</option>
                                            <option value="17:00">17:00</option>
                                            <option value="18:00">18:00</option>
                                            <option value="19:00">19:00</option>
                                            <option value="20:00">20:00</option>
                                            <option value="21:00">21:00</option>
                                            <option value="22:00">22:00</option>
                                            <option value="23:00">23:00</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-6">
                                <div class="form-group mainsearch-item">
                                    <select ng-model="searchMsg.location" id="pickupLocation"
                                            class="form-control only-padding-left">
                                        <option value="">Pickup Location</option>
                                        <option ng-repeat="item in searchMsg.locations" value="{{item.ID}}">{{item.Address}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="form-group mainsearch-item">
                                    <select ng-model="searchMsg.category" id="pickupCategory"
                                            class="form-control only-padding-left">
                                        <option value="1">Any Category</option>
                                        <option value="2">Petrol Hybrid</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="form-group mainsearch-item">
                                    <select ng-model="searchMsg.rentFor" id="pickupRentFor"
                                            class="form-control only-padding-left">
                                        <option value="1">Taxi</option>
                                        <option value="2">Private</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <a href="#/search" type="button" class="btn btn-block bg-primary">Search
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

<script>
    $('.form_date').datetimepicker({
        language: 'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        startDate: new Date()
    });
</script>