<!-- 未登录头部-->
<nav ng-show='!appContext.isAut&&!appContext.isSidemenu' class="navbar navbar-static-top navbar-default navbar-topstyle" >
    <div class="container">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                data-target="#bs-navbar"
                aria-controls="bs-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header">
            <div class="navbar-brand visible-xs">
                <a href="#/" style="">
                    <img src="img/logo.png" alt="logo" style="margin: -15px auto;height:50px;width: 148px;">
                </a>
            </div>
            <div class="navbar-brand hidden-xs">
                <a href="#/" style="display: inline-block;">
                    <img src="img/logo-long.png" alt="logo"
                         style="margin: -15px auto;height:50px;vertical-align: middle;">
                </a>
            </div>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/signup_f/" id="signUp">
                        <i class="glyphicon glyphicon-user"></i>
                        Sign Up
                    </a>
                </li>
                <li>
                    <a href="#/login" id="logIn">
                        <i class="glyphicon glyphicon-log-out"></i>
                        Log In
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</nav>
<!-- 未登录头部结尾-->

<!-- 已登录头部-->
<nav ng-show='appContext.isAut&&!appContext.isSidemenu' class="navbar navbar-static-top navbar-default navbar-topstyle">

    <div class="container">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                data-target="#bs-navbar-yidenglu"
                aria-controls="bs-navbar-yidenglu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header">
            <div class="navbar-brand visible-xs">
                <a href="#/" style="">
                    <img src="img/logo.png" alt="logo" style="margin: -15px auto;height:50px;width: 148px;">
                </a>
            </div>
            <div class="navbar-brand hidden-xs">
                <a href="#/" style="display: inline-block;">
                    <img src="img/logo-long.png" alt="logo"
                         style="margin: -15px auto;height:50px;vertical-align: middle;">
                </a>
            </div>
        </div>
        <nav id="bs-navbar-yidenglu" class="collapse navbar-collapse">


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" id="dropdownM" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Learn more
                        <span class="glyphicon menu-right"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownM">
                        <li>
                            <a href="#/faq">
                                <span class="span-left"></span>
                                FAQ
                                <span class="span-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#/terms">
                                <span class="span-left"></span>
                                Terms &Conditions
                                <span class="span-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#/privacypolicy">
                                <span class="span-left"></span>
                                Privacy Policy
                                <span class="span-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="span-left"></span>
                                <i class="glyphicon glyphicon-play-circle"></i>
                                Tutorial Video
                                <span class="span-right"></span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="dropdown with-left-icon">
                    <!--<i href="#" class="user-icon"><img src="img/layout.jpg"></i>-->
                    <a class="dropdown-toggle" id="dropdownM2" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i href="#"><img src="img/logo-small.png"></i>
                        {{appContext.username}}
                        <span class="glyphicon menu-right"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownM2" aria-haspopup="true">
                        <li>
                            <a href="#/sidemenu/account">
                                <span class="span-left"></span>
                                My account
                                <span class="span-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#/sidemenu/topup">
                                <span class="span-left"></span>
                                Top up
                                <span class="span-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#/sidemenu/mybookings">
                                <span class="span-left"></span>
                                My bookings
                                <span class="span-right"></span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="logOut()">
                                <span class="span-left"></span>
                                Log Out
                                <span class="span-right"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</nav>
<!-- 已登录头部结尾-->

<!-- 侧边栏页面头部-->
<nav ng-if="appContext.isSidemenu" class="navbar navbar-static-top navbar-default navbar-topstyle">
    <div class="container">
        <button class="navbar-toggle offcanvas-toggle pull-left" type="button" data-toggle="offcanvas"
                data-target="#side-menu"
                aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header">
            <div class=" visible-xs">
                <a href="#/" style="">
                    <img src="img/logo.png" alt="logo"
                         style="margin: 0 auto;height:50px;width: 148px;transform:translate(-25%);">
                </a>
            </div>
            <div class=" hidden-xs">
                <a href="#/" style="">
                    <img src="img/logo-long.png" alt="logo"
                         style="margin: 0px auto;height:50px;">
                </a>
            </div>
        </div>
        <!--侧边栏区域-->
        <nav class="side-menu-wrap navbar-offcanvas   navbar-offcanvas-fade"
             role="navigation"
             id="side-menu">
            <aside>
                <div class="side-menu-header ">
                    <a id="toggle" >
                        <img src="img/logo-small.png">
                        <span>Hi,{{appContext.username}}!</span>
                    </a>
                </div>

                <div class="side-menu-body">
                    <ul class="level-one">
                        <li class="header sidebar-dashboard-header">
                            <p>Dashboard</p>
                        </li>
                        <li >
                            <a href="#/sidemenu/account">
                                <i class="glyphicon glyphicon-th-large"></i>
                                <span class="span-title">Account</span>
                                <span class="span-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#/sidemenu/mybookings">
                                <i class="glyphicon glyphicon-file"></i>
                                <span class="span-title">Bookings</span>
                                <span class="span-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#/search">
                                <i class="fa fa-car" aria-hidden="true"></i>
                                <span class="span-title">Make a Booking</span>
                                <span class="span-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#/sidemenu/refer" >
                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                                <span class="span-title">Refer a Friend</span>
                                <span class="span-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#/faq">
                                <i class="fa fa-question" aria-hidden="true"></i>
                                <span class="span-title">Help</span>
                                <span class="span-right"></span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="logOut()">
                                <i class="glyphicon glyphicon-log-out"></i>
                                <span class="span-title">Log Out</span>
                                <span class="span-right"></span>
                            </a>
                        </li>
                    </ul>

                </div>
            </aside>

        </nav>
        <!--侧边栏区域结尾-->

    </div>
</nav>
<!-- 侧边栏页面头部结尾-->

<script>
    $(function () {
        $('#signUp').on('click', function () {
            collapseNavbar();
        });
        $('#logIn').on('click', function () {
            collapseNavbar();
        });
        $('.navbar .navbar-collapse ul.navbar-nav  li.dropdown ul.dropdown-menu li a').each(function () {
            $(this).on('click', function () {
              collapseNavbar();
            })
        });

        function collapseNavbar() {
            if($('.navbar .navbar-collapse').hasClass('in')){
                $('.navbar .navbar-collapse').collapse('toggle');
                $('.navbar .navbar-toggle').toggleClass('collapsed').attr('aria-expanded', false);
            }
        }
    });

</script>