<!--侧边栏页面的主体内容区域-->
<div class=" side-menu-content" ng-controller="sidemenuCtr">



    <div class="header hidden-overflow-x">
        <div class="row">
            <div class="col-md-12 col-xs-12 text-right" style="position: relative">
                <a ng-if="curpath!=''"  ng-click="back()" class="back">
                    <!--<img src="img/back.png">-->
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>

                </a>

                <ol class="breadcrumb" style="">
                    <li><a href="#/sidemenu/account" style="font-size: 16px">Account</a></li>
                    <li ng-bind="curpath" ng-if="curpath!=''" class="active"></li>
                </ol>
            </div>
        </div>


    </div>


    <div ui-view=""></div>
</div>
<!--侧边栏页面的主体内容区域结尾-->


<!--侧边栏页面脚部-->
<footer class="main-footer-side-menu footer-style">
    <div class="container">
        <!--底部链接-->
        <div class="row">
            <div class="col-md-8 col-xs-12 ">
                <div class="weight">
                    <h4>Quick Links</h4>
                    <div class="weight-list">
                        <a href="#/">Home</a>
                        <a href="#/faq">Help</a>
                        <a href="#/terms">Terms &Conditions</a>
                        <a href="#/privacypolicy">Privacy</a>
                    </div>
                </div>

            </div>


        </div>
        <!--底部链接结尾-->

    </div>
</footer>
<!--侧边栏页面脚部结尾-->










<script src="components/offcancas/bootstrap.offcanvas.js"></script>
<script>
    $(function () {
//        $(window).resize(function() {
//            $('.side-menu-wrap').height($('body').height()-50);
//        });
//        $('.side-menu-wrap').height($('body').height()-50);

        $('#toggle').bind("click", function (e) {
            $('.side-menu-wrap').toggleClass('mini')
            $('.side-menu-content').toggleClass('mini')
            $('.main-footer-side-menu').toggleClass('mini')
        });
        $('.navbar .side-menu-wrap .side-menu-body ul li a').each(function () {
            $(this).on('click', function () {
                if (!$(this).hasClass('in')) {
                    $('body').removeClass('offcanvas-stop-scrolling')
                    $('.navbar-offcanvas').height('').removeClass('in');
                    $('.offcanvas-toggle').removeClass('is-open');
                }
            })
        });

//            var xx,yy,XX,YY,swipeX,swipeY ;
//
//            $('body').on('touchstart',function(event){
//                xx = event.targetTouches[0].screenX ;
//                yy = event.targetTouches[0].screenY ;
//                swipeX = true;
//            });
//
//            $('body').on('touchmove',function(event){
//                XX = event.targetTouches[0].screenX ;
//                YY = event.targetTouches[0].screenY ;
//                if(swipeX && Math.abs(XX-xx)/Math.abs(YY-yy)>=0.5)  //左右滑动
//                {
//                    event.stopPropagation();//阻止冒泡
//                    event.preventDefault();//阻止浏览器默认事件
//                }
//            });

//            $('body').on('touchend',function(event){
//                event.stopPropagation();//阻止冒泡
//                event.preventDefault();//阻止浏览器默认事件
//            });
    });
</script>