<!--注册表-->

<div class="sign-in">
    <div class="container-fluid">
        <div class="step hidden-xs hidden-sm" style="margin-left: -15px;margin-right: -15px">
            <div class="row">
                <div class="col-md-10 col-md-offset-2 ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="media active">
                                <div class="media-left">
                                    <a href="#/signup_f">
                                        <img class="media-object" src="img/1_red.png" alt="1">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" style="margin-top: 10px">First Step</h4>
                                    <p>Basic information</p>
                                </div>
                                <div class="media-right" >
                                    <a>
                                        <img class="media-object" src="img/next_red.png" alt="next">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 ">
                            <div class="media active">
                                <div class="media-left">
                                    <a>
                                        <img class="media-object" src="img/2_red.png" alt="2">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" style="margin-top: 10px">Second Step</h4>
                                    <p>Perfect information</p>
                                </div>
                                <div class="media-right" >
                                    <a>
                                        <img class="media-object" src="img/next_red.png" alt="next">
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 ">
                            <div class="media ">
                                <div class="media-left">
                                    <a>
                                        <img class="media-object" src="img/3_grey.png" alt="3">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" style="margin-top: 10px">Third Step</h4>
                                    <p>Pending audit</p>
                                </div>
                                <div class="media-right" style="padding-left: 10px">
                                    <div style="width: 64px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="" id="sign-in-background">
                    <div class="sign-in-body">
                        <div class="sign-in-content">
                            <div class="text-center margin-bottom-25 margin-top-25"><h2>Perfect Personal Information</h2></div>
                            <form name="signup_s" class="margin-top-25">
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-1 col-xs-12">
                                        <!--regist for-->
                                        <div class="form-group">
                                            <label class="sign-in-label">Whether you are
                                                registering for</label>
                                            <select ng-model="signin_s.LicenseType" id="LicenseType" class="form-control">
                                                <option ng-repeat="item in appContext.LicenseTypes" value="{{item.ID}}">{{item.CertificateTypeName}}</option>
                                            </select>
                                        </div>
                                        <!--regist for end-->
                                    </div>
                                    <div class="col-md-5  col-xs-12">
                                        <!--Salutation-->
                                        <div class="form-group">
                                            <label class="sign-in-label">Salutation</label>
                                            <select ng-model="signin_s.Salutation" id="Salutation" class="form-control">
                                                <option value="1">Mr</option>
                                                <option value="2">Mrs</option>
                                                <option value="3">Ms</option>
                                                <option value="4">Miss</option>
                                            </select>
                                        </div>
                                        <!--Salutation end-->

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5 col-md-offset-1 col-xs-12">
                                        <!--Gender-->
                                        <div class="form-group">
                                            <label class="sign-in-label">Gender</label>
                                            <select ng-model="signin_s.Gender" id="Gender" class="form-control">
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                            </select>
                                        </div>
                                        <!--Gender end-->
                                    </div>
                                    <div class="col-md-5 col-xs-12">
                                        <!--Nationality-->
                                        <div class="form-group">
                                            <label class="sign-in-label" >Nationality</label>
                                            <select ng-model="signin_s.Nationality" id="Nationality" class="form-control">
                                                <option ng-repeat="item in appContext.Nationalities" value="{{item.ID}}">{{item.Nationality}}</option>
                                            </select>
                                        </div>
                                        <!--Nationality end-->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5 col-md-offset-1 col-xs-12">
                                        <!--Race-->
                                        <div class="form-group">
                                            <label class="sign-in-label">Race</label>
                                            <select ng-model="signin_s.Race" id="Race" class="form-control">
                                                <option ng-repeat="item in appContext.Races" value="{{item.ID}}">{{item.Race}}</option>
                                            </select>
                                        </div>
                                        <!--Race end-->
                                    </div>
                                    <div class="col-md-5 col-xs-12">
                                        <!--Marital status-->
                                        <div class="form-group">
                                            <label class="sign-in-label">Marital Status</label>
                                            <select ng-model="signin_s.MaritalStatus" id="MaritalStatus" class="form-control">
                                                <option value="1">Single</option>
                                                <option value="2">Married</option>
                                                <option value="3">Divorce</option>
                                                <option value="4">Widow</option>
                                            </select>
                                        </div>
                                        <!--Marital status end-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-1 col-xs-12">
                                        <!--Education Level-->
                                        <div class="form-group">
                                            <label class="sign-in-label">Education Level</label>
                                            <select ng-model="signin_s.EducationLevel" id="EducationLevel" class="form-control">
                                                <option ng-repeat="item in appContext.EducationLevel" value="{{item.ID}}">{{item.EducationLevel}}</option>
                                            </select>
                                        </div>
                                        <!--Education Level end-->
                                    </div>
                                    <div class="col-md-5 col-xs-12">
                                        <!--Block No.-->
                                        <div class="form-group">
                                            <label class="sign-in-label">Block No.</label>
                                            <input ng-model="signin_s.BlockNo" type="text" class="form-control" id="BlockNo"
                                                   required="required" placeholder="">
                                        </div>
                                        <!--Block No. end-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-1 col-xs-12">
                                        <!--Storey-->
                                        <div class="form-group">
                                            <label class="sign-in-label">Storey</label>
                                            <input ng-model="signin_s.Storey" type="text" class="form-control" id="Storey"
                                                   required="required" placeholder="">
                                        </div>
                                        <!--Storey end-->
                                    </div>
                                    <div class="col-md-5 col-xs-12">
                                        <!--Unit No.-->
                                        <div class="form-group">
                                            <label class="sign-in-label" >Unit No.</label>
                                            <input ng-model="signin_s.UnitNo" type="text" class="form-control" id="UnitNo"
                                                   required="required" placeholder="">
                                        </div>
                                        <!--Unit No. end-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-1 col-xs-12">
                                        <!--Street Name-->
                                        <div class="form-group">
                                            <label class="sign-in-label" >Street Name</label>
                                            <input ng-model="signin_s.StreetName" type="text" class="form-control" id="StreetName"
                                                   required="required" placeholder="">
                                        </div>
                                        <!--Street Name end-->
                                    </div>
                                    <div class="col-md-5 col-xs-12">
                                        <!--Postal Code-->
                                        <div class="form-group">
                                            <label class="sign-in-label" >Postal Code</label>
                                            <input ng-model="signin_s.PostalCode" type="text" class="form-control" id="PostalCode"
                                                   required="required" placeholder="">
                                        </div>
                                        <!--Postal Code end-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-1 col-xs-12">
                                        <!--Date of Birth-->
                                        <div class="form-group">
                                            <label class="sign-in-label">Date of Birth</label>

                                            <div class="input-group controls input-append date form_date" data-date=""
                                                 data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                                <input ng-model="signin_s.DateOfBirth" type="text" class="form-control datepicker" id="DateOfBirth"
                                                       required readonly>
                                            </div>

                                        </div>
                                        <!--Date of Birth end-->
                                    </div>
                                    <div  class="col-md-5 col-xs-12">
                                        <!--Driving License Issue Date-->
                                        <div class="form-group">
                                            <label class="sign-in-label" >Driving License
                                                Issue
                                                Date</label>

                                            <div class="input-group controls input-append date form_date" data-date=""
                                                 data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                                <input ng-model="signin_s.LicenseIssueDate" type="text" class="form-control datepicker" id="LicenseIssueDate"
                                                       required readonly>
                                            </div>

                                        </div>
                                        <!--Driving License Issue Date end-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-1 col-xs-12">
                                        <!--TDVL First Issue Date-->
                                        <div class="form-group">
                                            <label class="sign-in-label" >TDVL First Issue
                                                Date</label>

                                            <div class="input-group controls input-append date form_date" data-date=""
                                                 data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                                <input ng-model="signin_s.TVDLIssue" type="text" class="form-control datepicker" id="TVDLIssue"
                                                       readonly>
                                            </div>

                                        </div>
                                        <!--TDVL First Issue Date end-->
                                    </div>
                                    <div class="col-md-5 col-xs-12">
                                        <!--TDVL Expiry Date-->
                                        <div class="form-group">
                                            <label class="sign-in-label">TDVL Expiry Date</label>
                                            <div class="input-group controls input-append date form_date" data-date=""
                                                 data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                                <input ng-model="signin_s.TVDLExpiry" type="text" class="form-control datepicker" id="TVDLExpiry"
                                                       readonly>
                                            </div>

                                        </div>
                                        <!--TDVL Expiry Date end-->
                                    </div>
                                </div>
                                <!--<div class="row">-->
                                    <!--<div ng-show="signin_s.LicenseType=='1'||signin_s.LicenseType=='0'" class="col-md-5 col-md-offset-1 col-xs-12">-->
                                        <!--&lt;!&ndash;PDVL First Issue Date&ndash;&gt;-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="sign-in-label" >PDVL First Issue-->
                                                <!--Date</label>-->

                                            <!--<div class="input-group controls input-append date form_date" data-date=""-->
                                                 <!--data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">-->
                                        <!--<span class="input-group-addon">-->
                                            <!--<i class="glyphicon glyphicon-calendar"></i>-->
                                        <!--</span>-->
                                                <!--<input ng-model="signin_s.PVDLIssue" type="text" class="form-control datepicker" id="PVDLIssue"-->
                                                       <!--readonly>-->
                                            <!--</div>-->

                                        <!--</div>-->
                                        <!--&lt;!&ndash;PDVL First Issue Date end&ndash;&gt;-->
                                    <!--</div>-->
                                    <!--<div ng-show="signin_s.LicenseType=='1'||signin_s.LicenseType=='0'" class="col-md-5 col-xs-12">-->
                                        <!--&lt;!&ndash;PDVL Expiry Date&ndash;&gt;-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="sign-in-label" >PDVL Expiry Date</label>-->
                                            <!--<div class="input-group controls input-append date form_date" data-date=""-->
                                                 <!--data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">-->
                                        <!--<span class="input-group-addon">-->
                                            <!--<i class="glyphicon glyphicon-calendar"></i>-->
                                        <!--</span>-->
                                                <!--<input ng-model="signin_s.PVDLExpiry" type="text" class="form-control datepicker" id="PVDLExpiry"-->
                                                       <!--readonly>-->
                                            <!--</div>-->

                                        <!--</div>-->
                                        <!--&lt;!&ndash;PDVL Expiry Date end&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-1 col-xs-12">
                                        <!--NRIC, Driving License, TDVL (Front)-->
                                        <div class="form-group">
                                            <label class="sign-in-label" >{{msgAboutPic}}
                                                (Front)</label>
                                            <div class="sign-in-modal">
                                                <a data-toggle="modal" data-target="#modalTdvlPhoto">(Guidelines)</a>
                                            </div>
                                            <div class="sign-in-file">
                                                <input type="file"  id="signInFileFront"
                                                       required="required">
                                            </div>
                                        </div>
                                        <!--NRIC, Driving License, TDVL (Front) end-->
                                    </div>
                                    <div class="col-md-5 col-xs-12">
                                        <!--NRIC, Driving License, TDVL (Back)-->
                                        <div class="form-group">
                                            <label class="sign-in-label" >{{msgAboutPic}}
                                                (Back)</label>
                                            <div class="sign-in-modal">
                                                <a data-toggle="modal" data-target="#modalTdvlPhoto">(Guidelines)</a>
                                            </div>
                                            <div class="sign-in-file">
                                                <input type="file" id="signInFileBack"
                                                       required="required">
                                            </div>
                                        </div>
                                        <!--NRIC, Driving License, TDVL (Back) end-->
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-1 col-xs-12">
                                        <!--MugShot-->
                                        <div class="form-group">
                                            <label  for="signInMugShot">Frontal View</label>
                                            <input type="file"  id="signInMugShot"
                                                       required="required">

                                        </div>
                                        <!--MugShot End-->
                                    </div>
                                    <div class="col-md-5 col-xs-12" ng-if="signin_s.LicenseType==0">
                                        <!--PDVLLetter-->
                                        <div class="form-group">
                                            <label for="PDVLLetter">PDVL Letter</label>
                                            <input type="file"  id="PDVLLetter"
                                                       required="required">
                                        </div>
                                        <!--PDVLLetter end-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-1 col-xs-12">
                                        <!--Submit-->
                                        <div class="form-group" style="margin-top: 20px">
                                            <button type="submit" ng-click="sub()" class="btn btn-success btn-block" id="signInSubmit" style="font-weight: bold">
                                                Register
                                            </button>
                                        </div>
                                        <!--Submit end-->
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1 col-xs-12 margin-top-20">
                                    <div class="zhanwei-tishi" ng-if="!errorState"></div>
                                    <div ng-if="errorState" ng-bind="errorMsg" class="error-tishi"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

<!--注册表结尾-->

<!--模态框-->
<div class="example-modal">
    <div class="modal modal-default fade" id="modalTdvlPhoto" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-tribecar modal-header-bg-color">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="update_title">Before Registration</h4>
                </div>
                <div class="modal-body" style="text-align:center;">
                    <p>Take photos of the documents both front and back based on the layout below.</p>
                    <img ng-src="img/tdvl.jpg" alt="Layout"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--模态框结尾-->


<script>
    $('.form_date').datetimepicker({
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>